
.main{
    width: 100%;
    height: calc(100vh - 200px);
}

.ticket-wrap{
    border: 10px;
    overflow: hidden;
}

.ticket-container{
    margin: 50px 0;
}

.ticket-sidebar{
    width: 10%;
    margin : 0 !important;
}

.ticket-main{
    width: 13%;
    margin : 0 !important;
    background-color: #fff;
    
}

.ticket-time, .ticket-seat, .ticket-payment{
    background-color: #93A086;
    color: #fff;;
}

.ticket-footer{
    background-color: #132A13;
}

.ticket-region-con, .ticket-movie-con, .ticket-date-con{
    padding: 0  !important;
    margin: 0 !important;
}

.ticket-region, .ticket-movie, .ticket-date{
    margin: 0 !important;
    width: 100%;
    height: 8%;
}