
.main{
    width: 100%;
    height: calc(100vh - 200px);
}

.ticket-wrap{
    border: 10px;
    overflow: hidden;
    background-color: #fff;
}

.ticket-container{
    margin: 50px 0;
}

.ticket-sidebar{
    width: 10%;
    margin : 0 !important;
}

.ticket-main{
    width: 90%;
    margin : 0 !important;
}

.ticket-time, .ticket-seat, .ticket-payment{
    background-color: #93A086;
    color: #fff;;
}

.ticket-footer{
    background-color: #132A13;
}

.ticket-region-con, .ticket-movie-con, .ticket-date-con{
    padding: 0  !important;
    margin: 0 !important;
    overflow: hidden;
}

.ticket-region, .ticket-movie, .ticket-date{
    margin: 0 !important;
    width: 100%;
    background-color: #132A13;
    color: #fff;
}
.ticket-card-con{
    margin-left: 10px !important;
}

.view-link{
    text-decoration: none;
    color: #333;
}
.ticket-region-info {
    overflow-y: auto; /* 세로 스크롤 활성화 */
    max-height: 50%; /* 뷰포트 높이의 40%로 설정 */
}

/* 스크롤바 스타일 수정 */
.ticket-region-info::-webkit-scrollbar {
    width: 8px;
}
.ticket-region-info::-webkit-scrollbar-thumb {
    background: #d2d2d2; 
    border-radius: 5px;
}
.ticket-region-info::-webkit-scrollbar-thumb:hover {
    background: #9f9f9f; 
}

/* 이거 어쩌지.... */
.movie-info{
    font-size: 12px;
}

